<mat-toolbar>   
   
    <span class = "gap">
     <button mat-icon-button>
         <mat-icon (click)="sideNav.toggle()">menu</mat-icon>
       </button>
    </span>
    <span> <h1> Proyecto Cursos </h1></span>
    <span class = "filler"></span>
    <span>                
         <button type="button" class="btn btn-outline-light" name="logout" id="logout"  value="Log Out"  (click)="LogOut()">Log Out</button>
      </span>
  
     
 </mat-toolbar>
 
 <mat-sidenav-container>
 
     <mat-sidenav mode="side" opened>
 
      <img class="avatar mat-elevation-z8" src="https://material-cards.s3-eu-west-1.amazonaws.com/thumb-joaquin-phoenix.jpg" alt="">
    
        <h4 class="nombre">Alberto</h4>
      <p class="perfil">Administrador</p>
 
     <mat-divider></mat-divider>
 
     <button mat-button class="menu-button" routerLink="/main/inicio">
         <mat-icon aria-hidden="false" fontIcon="house"></mat-icon>
         <span>Home</span>
     </button>
 
     <button mat-button class="menu-button" routerLink="/main/alumnos/">
         <mat-icon aria-hidden="false" fontIcon="person"></mat-icon>
         <span>Alumnos</span>
     </button>
 
     <button mat-button class="menu-button" routerLink="/main/cursos/">
         <mat-icon aria-hidden="false" fontIcon="book"></mat-icon>
         <span>Cursos</span>
     </button>
 
     <button mat-button class="menu-button" routerLink="/main/inscripciones">
         <mat-icon aria-hidden="false" fontIcon="folder-open"></mat-icon>
         <span>Inscripciones</span>
     </button>

     <mat-divider></mat-divider>

     <button mat-button class="menu-button" >
        <mat-icon aria-hidden="false" fontIcon="folder-open"></mat-icon>
        <span>Usuarios</span>
    </button>
       
     </mat-sidenav>
 
     <mat-sidenav-content>
         <div class="content mat-elevation-z4">            
              <!-- COMPONENTE ENRUTAMIENTO -->               
              <router-outlet></router-outlet>           
         </div>
     </mat-sidenav-content>
 
 </mat-sidenav-container>